<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_place_after">
		<observer name="jawal_sms_observer_sales_orderplaceafter_sales_order_place_after" instance="Jawal\Sms\Observer\Sales\OrderPlaceAfter"/>
	</event>
	<event name="sales_order_save_after">
		<observer name="jawal_sms_observer_sales_ordersaveafter_sales_order_save_after" instance="Jawal\Sms\Observer\Sales\OrderSaveAfter"/>
	</event>
	<event name="sales_order_shipment_track_save_after">
		<observer name="jawal_sms_observer_sales_ordershipmenttracksaveafter_sales_order_shipment_track_save_after" instance="Jawal\Sms\Observer\Sales\OrderShipmentTrackSaveAfter"/>
	</event>
	<event name="cataloginventory_stock_item_save_after">
		<observer name="jawal_sms_observer_cataloginventory_stockitemsaveafter_cataloginventory_stock_item_save_after" instance="Jawal\Sms\Observer\Cataloginventory\StockItemSaveAfter"/>
	</event>
	<event name="customer_register_success">
		<observer name="jawal_sms_observer_customer_registersuccess_customer_register_success" instance="Jawal\Sms\Observer\Customer\RegisterSuccess"/>
	</event>
</config>
