<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="BigBridge_ProductImport::afas" title="afas" sortOrder="10">
                    <resource id="BigBridge_ProductImport::import_index" title="import index" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
